# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
*.env
*.env.backup
*.env.production

# Go backend
mara-go-backend/mara-api
mara-go-backend/mara-api.exe
mara-go-backend/*.db
mara-go-backend/*.db-shm
mara-go-backend/*.db-wal

# Frontend
mara-frontend/node_modules/
mara-frontend/dist/

# Flutter
mara-flutter/.dart_tool/
mara-flutter/.flutter-plugins
mara-flutter/.flutter-plugins-dependencies
mara-flutter/build/

# Local Netlify folder
.netlify
